<!DOCTYPE html>
<html>
  <head>
    <title>Системный анализ и машинное моделирование № 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="javascript/main.js"></script>
  </head>
  <body onload="DrawChart(<%= @values_histogram %>, <%= @steps_histogram %>)">
  <div class='container'>
      <center>
        <h3>Формирование равномерно распределенных случайных величин</h3>
      </center>
      <div class="ml-3">
        <table class="table table-striped table-bordered">
          <tr>
            <td>Мат ожидание</td>
            <td><%=@math_value%></td>
          </tr>
          <tr>
            <td>Дисперсия</td>
            <td><%=@dispersion%></td>
          </tr>
          <tr>
            <td>Среднеквадратическое отклонение</td>
            <td><%=@standard_deviation%></td>
          </tr>
          <tr>
            <td>Оценка равномерности распределения по косвенным признакам 2k/N</td>
            <td><%=@indirect_indications%></td>
          </tr>
          <tr>
            <td>Длина периода</td>
            <td><%=@period_length%></td>
          </tr>
          <tr>
            <td>Длина отрезка апериодичности</td>
            <td><%=@aperiodic_section_length%></td>
          </tr>
        </table>
      </div>
      <div class="ml-3">
        <canvas id="bar-chart" width="800" height="200"></canvas>
        <div class="ml-3 mb-3 mt-3">
          <a href="/">Переход к вводу данных</a>
        </div>
      </div>
    </div>
  </body>
</html>
